## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
columns = ["EIN"]
application_df = application_df.drop(columns = columns)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
counts_name = application_df['NAME'].value_counts()
counts_name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [4]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts_name[counts_name<5].index)

In [6]:
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_counts = application_df["NAME"].value_counts()
app_counts

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
#application_df.nunique()

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = app_counts[app_counts <500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = application_df["CLASSIFICATION"].value_counts()

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts[class_counts >100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = class_counts[class_counts <1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns = "IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 7)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
inputfeatures = len(X_train_scaled[0])
layerone = 22
layertwo = 11
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = layerone, input_dim = inputfeatures, activation = "relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = layertwo, activation = "relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 22)                10010

 dense_1 (Dense)             (None, 11)                253

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 10275 (40.14 KB)
Trainable params: 10275 (40.14 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5004 - accuracy: 0.7688 - val_loss: 0.4646 - val_accuracy: 0.7774
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4299 - accuracy: 0.7953 - val_loss: 0.4506 - val_accuracy: 0.7839
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4226 - accuracy: 0.7982 - val_loss: 0.4475 - val_accuracy: 0.7878
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4199 - accuracy: 0.7990 - val_loss: 0.4468 - val_accuracy: 0.7883
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.7992 - val_loss: 0.4476 - val_accuracy: 0.7893
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4163 - accuracy: 0.8015 - val_loss: 0.4503 - val_accuracy: 0.7898
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.8028 - val_loss: 0.4459 - val_accuracy: 0.7896
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8008 - val_loss: 0.4475 - val_accuracy: 0.7906
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8030 - val_loss: 0.4471 - val_accuracy: 0.7888
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8027 - val_loss: 0.4486 - val_accuracy: 0.7922
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4121 - accuracy: 0.8040 - val_loss: 0.4499 - val_accuracy: 0.7917
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8040 - val_loss: 0.4473 - val_accuracy: 0.7904
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8036 - val_loss: 0.4481 - val_accuracy: 0.7914
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4104 - accuracy: 0.8044 - val_loss: 0.4498 - val_accuracy: 0.7906
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8039 - val_loss: 0.4484 - val_accuracy: 0.7906
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8043 - val_loss: 0.4479 - val_accuracy: 0.7911
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4092 - accuracy: 0.8054 - val_loss: 0.4511 - val_accuracy: 0.7854
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4092 - accuracy: 0.8048 - val_loss: 0.4505 - val_accuracy: 0.7909
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4088 - accuracy: 0.8051 - val_loss: 0.4519 - val_accuracy: 0.7896
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4084 - accuracy: 0.8057 - val_loss: 0.4536 - val_accuracy: 0.7891
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4077 - accuracy: 0.8058 - val_loss: 0.4519 - val_accuracy: 0.7898
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4081 - accuracy: 0.8054 - val_loss: 0.4518 - val_accuracy: 0.7847
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4073 - accuracy: 0.8052 - val_loss: 0.4545 - val_accuracy: 0.7875
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4071 - accuracy: 0.8065 - val_loss: 0.4544 - val_accuracy: 0.7898
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8060 - val_loss: 0.4519 - val_accuracy: 0.7891
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8056 - val_loss: 0.4508 - val_accuracy: 0.7891
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4066 - accuracy: 0.8064 - val_loss: 0.4534 - val_accuracy: 0.7901
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4061 - accuracy: 0.8082 - val_loss: 0.4537 - val_accuracy: 0.7885
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8070 - val_loss: 0.4535 - val_accuracy: 0.7891
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4056 - accuracy: 0.8066 - val_loss: 0.4527 - val_accuracy: 0.7891
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4050 - accuracy: 0.8068 - val_loss: 0.4527 - val_accuracy: 0.7901
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4047 - accuracy: 0.8075 - val_loss: 0.4534 - val_accuracy: 0.7901
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4045 - accuracy: 0.8077 - val_loss: 0.4555 - val_accuracy: 0.7862
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8077 - val_loss: 0.4559 - val_accuracy: 0.7885
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8076 - val_loss: 0.4545 - val_accuracy: 0.7888
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4038 - accuracy: 0.8070 - val_loss: 0.4547 - val_accuracy: 0.7888
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4040 - accuracy: 0.8075 - val_loss: 0.4536 - val_accuracy: 0.7865
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4033 - accuracy: 0.8087 - val_loss: 0.4540 - val_accuracy: 0.7901
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4033 - accuracy: 0.8088 - val_loss: 0.4545 - val_accuracy: 0.7885
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4031 - accuracy: 0.8085 - val_loss: 0.4550 - val_accuracy: 0.7867
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4030 - accuracy: 0.8085 - val_loss: 0.4588 - val_accuracy: 0.7841
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8083 - val_loss: 0.4541 - val_accuracy: 0.7854
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4029 - accuracy: 0.8078 - val_loss: 0.4584 - val_accuracy: 0.7880
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8083 - val_loss: 0.4563 - val_accuracy: 0.7888
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4024 - accuracy: 0.8087 - val_loss: 0.4598 - val_accuracy: 0.7909
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8091 - val_loss: 0.4572 - val_accuracy: 0.7885
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8093 - val_loss: 0.4592 - val_accuracy: 0.7883
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8095 - val_loss: 0.4575 - val_accuracy: 0.7893
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8097 - val_loss: 0.4591 - val_accuracy: 0.7888
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8089 - val_loss: 0.4587 - val_accuracy: 0.7878
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8087 - val_loss: 0.4581 - val_accuracy: 0.7880
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8090 - val_loss: 0.4578 - val_accuracy: 0.7898
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8085 - val_loss: 0.4608 - val_accuracy: 0.7898
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8093 - val_loss: 0.4607 - val_accuracy: 0.7860
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8098 - val_loss: 0.4607 - val_accuracy: 0.7836
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8081 - val_loss: 0.4583 - val_accuracy: 0.7857
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4004 - accuracy: 0.8101 - val_loss: 0.4611 - val_accuracy: 0.7883

Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4005 - accuracy: 0.8098 - val_loss: 0.4601 - val_accuracy: 0.7891
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8102 - val_loss: 0.4602 - val_accuracy: 0.7885
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8101 - val_loss: 0.4615 - val_accuracy: 0.7888
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8101 - val_loss: 0.4631 - val_accuracy: 0.7893
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4002 - accuracy: 0.8099 - val_loss: 0.4613 - val_accuracy: 0.7854
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8091 - val_loss: 0.4618 - val_accuracy: 0.7906
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8100 - val_loss: 0.4627 - val_accuracy: 0.7878
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8101 - val_loss: 0.4630 - val_accuracy: 0.7885
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8088 - val_loss: 0.4648 - val_accuracy: 0.7878
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8110 - val_loss: 0.4657 - val_accuracy: 0.7893
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8091 - val_loss: 0.4627 - val_accuracy: 0.7870
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3992 - accuracy: 0.8100 - val_loss: 0.4660 - val_accuracy: 0.7875
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3991 - accuracy: 0.8101 - val_loss: 0.4671 - val_accuracy: 0.7885
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3990 - accuracy: 0.8102 - val_loss: 0.4640 - val_accuracy: 0.7893
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8089 - val_loss: 0.4661 - val_accuracy: 0.7839
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3986 - accuracy: 0.8111 - val_loss: 0.4677 - val_accuracy: 0.7854
Epoch 74/100
684/684 [==============================] - 2s 2ms/step - loss: 0.3987 - accuracy: 0.8104 - val_loss: 0.4657 - val_accuracy: 0.7818
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3990 - accuracy: 0.8102 - val_loss: 0.4652 - val_accuracy: 0.7821
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8106 - val_loss: 0.4673 - val_accuracy: 0.7862
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3985 - accuracy: 0.8113 - val_loss: 0.4643 - val_accuracy: 0.7867
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3984 - accuracy: 0.8103 - val_loss: 0.4667 - val_accuracy: 0.7836
Epoch 79/100
684/684 [==============================] - 2s 2ms/step - loss: 0.3984 - accuracy: 0.8114 - val_loss: 0.4674 - val_accuracy: 0.7860
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.3982 - accuracy: 0.8107 - val_loss: 0.4679 - val_accuracy: 0.7880
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.3983 - accuracy: 0.8105 - val_loss: 0.4648 - val_accuracy: 0.7865
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3978 - accuracy: 0.8111 - val_loss: 0.4714 - val_accuracy: 0.7852
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3982 - accuracy: 0.8102 - val_loss: 0.4692 - val_accuracy: 0.7870
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3980 - accuracy: 0.8104 - val_loss: 0.4669 - val_accuracy: 0.7828
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3981 - accuracy: 0.8107 - val_loss: 0.4661 - val_accuracy: 0.7867
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8122 - val_loss: 0.4683 - val_accuracy: 0.7878
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3974 - accuracy: 0.8105 - val_loss: 0.4637 - val_accuracy: 0.7860
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3973 - accuracy: 0.8111 - val_loss: 0.4695 - val_accuracy: 0.7873
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8111 - val_loss: 0.4695 - val_accuracy: 0.7865
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8109 - val_loss: 0.4695 - val_accuracy: 0.7841
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8107 - val_loss: 0.4674 - val_accuracy: 0.7862
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3970 - accuracy: 0.8108 - val_loss: 0.4690 - val_accuracy: 0.7865
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3974 - accuracy: 0.8116 - val_loss: 0.4711 - val_accuracy: 0.7867
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3975 - accuracy: 0.8112 - val_loss: 0.4673 - val_accuracy: 0.7878
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3971 - accuracy: 0.8121 - val_loss: 0.4670 - val_accuracy: 0.7873
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3967 - accuracy: 0.8111 - val_loss: 0.4685 - val_accuracy: 0.7865
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3970 - accuracy: 0.8100 - val_loss: 0.4686 - val_accuracy: 0.7862
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3967 - accuracy: 0.8122 - val_loss: 0.4679 - val_accuracy: 0.7862
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3968 - accuracy: 0.8109 - val_loss: 0.4695 - val_accuracy: 0.7873
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.3970 - accuracy: 0.8115 - val_loss: 0.4687 - val_accuracy: 0.7854

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4745 - accuracy: 0.7900 - 278ms/epoch - 1ms/step
Loss: 0.4745160937309265, Accuracy: 0.789970874786377

In [22]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("trialone_5.h5")